---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import CallToActionComponent from '~/components/widgets/CallToAction.astro';
import { headerData } from '~/navigation';
import type { CallToAction } from '~/types';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <Hero>
    <Fragment slot="title">
      About Us<br />
    </Fragment>

    <Fragment slot="subtitle">
      Daniel is a born and raised Kansan who moved to the Missouri side after 8 years of world travel and living in
      different states around the country. Hospitality and customer service have been at the core of who he is and what
      he has done his entire life. He would love the chance to serve you and get your home or business sparkling and
      looking fresh!
    </Fragment>
  </Hero>

  <CallToActionComponent actions={headerData?.actions as CallToAction[]}>
    <Fragment slot="title">
      Contact us <br class="block sm:hidden" /><span class="sm:whitespace-nowrap"> today!</span>
    </Fragment>
  </CallToActionComponent>
</Layout>
