---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToActionComponent from '~/components/widgets/CallToAction.astro';
import { headerData } from '~/navigation';
import type { CallToAction } from '~/types';
import Reviews from '~/components/widgets/Reviews.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'Yalla Window Cleaning',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero>
    <Fragment slot="title"> Yalla Window Cleaning </Fragment>

    <Fragment slot="subtitle">
      <span>Proudly serving the entire KC Metro</span>
    </Fragment>
  </Hero>

  <Content
    isReversed
    image={{
      src: '~/assets/images/image-exterior.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Exterior Window Cleaning</h3>
      From hot and sunny summers to cold and snowy winters, the elements definitely can and will take their toll on your
      home and its windows. Here at Yalla, we are versed with professional tools and a keen expertise to remove dirt, grime,
      and any other pesky residue that’s hindering that crystal clear view that you’re looking for!
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    image={{
      src: '~/assets/images/image-interior.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Interior Window Cleaning</h3>
      Got kids? Pets? Let us illuminate your home and get rid of all those fingerprints, dust, and unwanted adherents from
      the interior of your home. Don’t want to get on a ladder inside your house? We’ll extend our reach to those ceiling
      fans, skylights, and chandeliers that are just out of reach!
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    image={{
      src: '~/assets/images/image-screen.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Screen Cleaning</h3>
      Even after a fresh window cleaning, a dirty screen can significantly hinder your view if not cleaned properly and wiped
      down. We’ll handle the process of removing, cleaning, and re-inserting your screens for you!
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    image={{
      src: '~/assets/images/image2.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Haze Buildup</h3>
      A significant amount of time between cleaning paired with the added heat of one or a number of midwest summer’s will
      often leave a layer of ‘haze buildup’ on your windows. Without the proper tools, this layer of accumulation is nearly
      impossible to get off. We’ll carefully and safely take care of that extra haze to ensure your windows are as see through
      as the day they were installed.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    image={{
      src: '~/assets/images/image1.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">New Construction</h3>
      Throughout the process of building a new home, many different materials often find their way to the surface of your
      brand new windows. From paint chippings, to hardened mud or clay, to caulking that has dripped onto your windows, all
      of these get in the way and without the proper experience and tools can be quite difficult to get off. We’ll put that
      final touch on your home, removing all of these substances, and leaving you with a perfectly clean window and that
      oh so coveted curb appeal that you’re after!
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Reviews
    title="Google Reviews"
    subtitle="5.0 ⭐⭐⭐⭐⭐ (10 reviews)"
    testimonials={[
      {
        testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
        name: 'Mark Thompson',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
        name: 'Emily Martinez',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: 'Laura Simmons',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Proudly serving Kansas City"
    columns={3}
    items={[
      {
        title: 'Kansas City, MO',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Kansas City, KS',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Overland Park, KS',
        icon: 'tabler:chevrons-right',
      },
      {
        title: "Lee's Summit, MO",
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Olathe, KS',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Parkville, MO',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Liberty, MO',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Independence, MO',
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <CallToActionComponent actions={headerData?.actions as CallToAction[]}>
    <Fragment slot="title"> Contact us today! </Fragment>
  </CallToActionComponent>
</Layout>
